.App {
  font-size: 62.5%;
}

.BackgroundImage{
  background-image: url('images/ballerina.jpg');
  background-size: cover;         
  background-repeat: no-repeat;
  background-position: center; 
  transform: scale(.95);
  margin: -2rem 20rem 0 -5rem;
  height: 100%;
  /* height: 110vh; */
}

.BackgroundBlack{
  height: 120vh;
  background-color: black;
}

.Display-Block{
  display: inline-block
}

.Link-Black{
  color: black;
}

.Main-Theme{
  color: #FF530D;
}

.Theme-About{
  margin: -1rem 0rem 1rem 51%;
  width: 60rem;
}

.Theme-Carousel{
  margin: 4rem 0 0 65%;
  width: 48%;
}

.Theme-Events{
  margin: 20% -10rem -1rem 50rem;
  width: 30rem;
}

.Theme-Title{
  font-family: 'Great Vibes', cursive;
  font-size: 3.3vw;
  color: white;
  margin: 4rem 0 0 65%;
  width: 40rem;
}

.Theme-White{
  color: white;
}

@media only screen and (max-width: 950px) {

  .BackgroundImage{
    transform: scale(.85);
    margin: -2rem 5rem 0 -5rem;
  }

  .Theme-About{
    margin: -1rem 0rem 1rem 10%;
    width: 60rem;
  }

  .Theme-Carousel{
    margin: 4rem 0 0 55vw;
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  /* overflow-y: scroll; */

  .BackgroundImage{
    background-image: none;
    transform: scale(1);
  }

  .Theme-About{
    margin: -17.9rem 0 0 20%;
    max-height: 90%;
    width: 100%
  }

  .Theme-Carousel{
    margin: 4rem 0 0 22.5vw;
    width: 90vw;
    height: 50vh;
  }

  .Theme-Title{
    font-size: calc(1rem + 2vw);
    margin: 7rem 0 0 35%;
    width: 40rem;
  }
}